
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Checkout Confirmation</h2>
            <div class="text-center">
                <button id="order-button" class="btn btn-success" onclick="btnSubmit()">Buy</button>
            </div>
        </div>
    </div>

    <script>

        connection.on('BuyItem', function (message) {
            alert(message);
        });

        function btnSubmit() {
            //create an empty object
            //pass it to server
            connection.invoke('Buy','ok');
        };

    </script>
</div>



