@model Cart

    @if (Model!= null)
    {
        <a class="btn btn-sm btn-secondary" asp-controller="Cart" asp-action="Index" asp-route-CartId="@Model.CartId">
            Cart  <span id="cartId">(@ViewBag.Total.ToString("c"))</span>
        </a>
    }
    else
    {
        <a class="btn btn-sm btn-secondary">
            Cart  <span id="cartId">(@ViewBag.Total.ToString("c"))</span>
        </a>

    }

