@model IOrderedEnumerable<Deposit>
@{
    ViewData["Title"] = "OrderBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<div class="orderbook">
    <div class="col col-md-3">
        <div id="Buy" class="full-screen" style="background:#111; border:1px solid black; color:#d46d15; overflow-y: scroll;">
            <table id="depositId" style="margin-left:10px;">
                <thead>
                    <tr>
                        <th>Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DepositAmount</td>
                        <td>@item.DepositDate</td>
                    </tr>  
                }
            </table>
        </div>
    </div>
    <div class="col col-md-9">
        <div class="half-page">
            <canvas id="myChart"></canvas>
        </div>
        <div class="half-page" style="background:purple;">

        </div>
    </div>
</div>


<script>
    //Recieve data from server
    //connection.on('Buy', function (message, orderPrice) {
    //    alert(message);
    //    document.getElementById('Buy').innerHTML += orderPrice;
    //})


    connection.on('NewOrder', function (depositHistoryTable) {
        //depositHistoryTable.sort();
        var parent = document.getElementById("depositId");
        parent.innerHTML = "";
        for (var i = 0; i < depositHistoryTable.length; i++) {
            var child = document.createElement("li");
            child.innerHTML = depositHistoryTable[i].depositAmount;
            parent.appendChild(child);
        }
    })

    //Chart area.....................................................................
    function generateDataFromTable() {
        var labels = [];

        var rows = jQuery("tr");
        rows.each(function (index) {
            if (index != 0)  // we dont need first row of table
            {
                var cols = $(this).find("td");
                var num = parseInt(cols.first().text());
                labels.push(num);
            }
        });

        return labels.reverse();
    }


    function generateLabelsFromTable() {
        var labels = [];

        var rows = jQuery("tr");
        rows.each(function (index) {
            if (index != 0)  // we dont need first row of table
            {
                var cols = $(this).find("td");
                var lab = cols.last().text();
                labels.push(lab);
            }
        });

        var unique = $.uniqueSort(labels);
        unique.reverse();
        return unique;
    }


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: generateLabelsFromTable(),
            datasets: [{
                label: 'Deposit history',
                data: generateDataFromTable(),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                
                xAxes: [{
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var i = myChart.data.datasets.length;
    //setInterval(function () {
    //    myChart.data.datasets[0].data[i] = Math.floor(Math.random()*10);
    //    myChart.data.labels[i] = "test";
    //    myChart.update();
    //    i++;
    //}, 1000);

</script>