
@{
    ViewData["Title"] = "OrderBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="orderbook">
    <div class="col col-md-2">
        <div id="Sell" class="half-page" style="background:#111; overflow-y:scroll;">
            
        </div>
        <div id="Buy" class="half-page" style="background:yellow;">

        </div>
    </div>
    <div class="col col-md-10">
        <div class="half-page" style="background:green;">

        </div>
        <div class="half-page" style="background:purple;">

        </div>
    </div>
</div>


<script>
    //Recieve data from server
    connection.on('Buy', function (message, orderPrice) {
        alert(message);
        document.getElementById('Buy').innerHTML += orderPrice;
    })
</script>