
@{
    ViewData["Title"] = "Chat";
}

<h2>Chat</h2>
<!--SignalR client-->
<script src="~/signalr-client-1.0.0-alpha2-final.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let connection = new signalR.HubConnection('/chat');

        //Receive Data from server
        connection.on('send', function (data, data2) {
            let child = document.createElement('li');
            child.innerText = data;
            document.getElementById('messages').appendChild(child);
            document.getElementById('numberOfUsers').innerHTML = data2;
        });

        //Receive data only for signed user
        connection.on('client', function (data) {
            document.getElementById('extra').innerHTML = data;
        })

        //Receive data only for signed user
        connection.on('OnlineUsers', function (data) {
            for (var i = 0; i < data.length; i++) {
                document.getElementById('chat-text').innerHTML += '<p>' +data[i]+'</p>';
            }
        })

        //Sending data to server .......
        document.getElementById('sendmessage').addEventListener('submit', event => {
            let data = document.getElementById('data').value;
            connection.invoke('send', data);
            connection.invoke('sendClient', data);
            event.preventDefault();
        });

        connection.start().then(function () {
            console.log("Started....");
        })
            .catch(function (err) {
                console.log("Error");
            })
    });
</script>

<p>Extra message :<span id="extra"></span></p>
<p>Number Of Users Online :<span id="numberOfUsers"></span></p>

<div id="chat-text" style="width:200px; height:100px; overflow-y:scroll"></div>

<form id="sendmessage">
    <input type="text" id="data" />
    <input type="submit" value="Send" />
</form>

<ul id="messages"></ul>

