@model List<Crypto>
@using ScaffoldersProject.Services.CryptoObj


@{
    ViewData["Title"] = "Home Page";

}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<div class="video-screen">
    <div id="crypto-bar">
        <marquee style="font-family: Impact; font-size: 18pt">
            @foreach (var item in Model)
            {
                <span class="crypto-divider">|</span>
                <span class="crypto-symbol"> @item.symbol:</span>
                <span class="crypto-price"> @item.price_usd.ToString("C4")</span>
            }
        </marquee>
    </div>
    <video autoplay loop muted poster="~/images/background.png" style="margin: auto; visibility: visible; opacity: 1; width: 100%; height: 100%;">
        <source src="~/video/intro.mp4" type="video/mp4">
    </video>
    <div class="header text-center">
        <h1 class="header-title animate-pop-in">Welcome to Scaffolders Crypto Platform</h1>
        <h3 class="header-subtitle animate-pop-in">The best platform there can be</h3>
    </div>
    <div class="bounce">
        <a id="scroll"><img src="~/images/arrow.png" /></a>
    </div>
</div>

<div class="row" id="perks">
    <div class="col-md-3 col-sm-6">
        <img src="https://bedrockautomation.com/wp-content/themes/bedrock/images/icon-advantage-security.png" alt="Security" id="perks-1-logo">
        <h3>
            <strong>SECURITY FIRST</strong>
        </h3>
        <p>Security is our number one concern and priority. Our systems are constantly upgraded and tested to ensure a high level user experience. To protect users we provide two-factor authentication for all accounts and API usage. Our Trading platform is higly protected, so you can rest easy about the safety of your portofolio and personal information.</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://i2.wp.com/www.indicrypto.com/main/wp-content/uploads/2017/09/bitcoin_circular_arrows.png?resize=150%2C150&ssl=1" alt="Trading" id="perks-2-logo">
        <h3>
            <strong>EASY AND INSTANT TRADING</strong>
        </h3>
        <p>A Trading platform for fast, efficient and easy trading in cryptocurrencies. We offer a highly skilled team of cryptocurrency savvies just for you.We will keep you updated of the latest trends of cryptocurrency market.</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/images/dollar.png" alt="Deposit" id="perks-3-logo">
        <h3>
            <strong>QUICK DEPOSIT AND WITHDRAWAL</strong>
        </h3>
        <p>We cooperate with major payment processing systems and offer various payment options to our customers.Easy, secure, fast deposits and withdrawals give you more time to focus on your trading. No hidden fees.</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://www.corelp.co.uk/wp-content/uploads/2017/02/Live-web-chat-icon.png" alt="Support" id="perks-4-logo">
        <h3>
            <strong>FAST CUSTOMER SUPPORT </strong>
        </h3>
        <p>We give our platform a voice and build meaningful relationships by talking to customers over live chat.Our support team is available to assist you with any issues you might encounter.</p>
    </div>
</div>

<h1 id="cryptosbtn" style="color:#d46d15;" class="col-sm-12 text-center"><strong>Overview</strong></h1>

<div class="col-md-4"></div>

<div class="col-md-4 col-sm-12 text-center" id="cryptosbtn">
    <span id="BTCbtn">BITCOIN</span>
    <span id="ETHbtn">ETHEREUM</span>
    <span id="XRPbtn">RIPPLE</span>
    <span id="LTCbtn">LITECOIN</span>

</div>

<div>
    <canvas id="BTCchart"></canvas>
</div>
<div>
    <canvas id="ETHchart"></canvas>
</div>
<div>
    <canvas id="XRPchart"></canvas>
</div>
<div>
    <canvas id="LTCchart"></canvas>
</div>


<div class="row list-group" id="news">
    <div class="col-sm-12">
        <h1 style="color:#d46d15 "><strong>News & Updates</strong></h1>
        <div class="col-md-4 col-sm-12 thumbnail">
            <h3 style="color:#d46d15"><strong>EU Launches Blockchain Observatory in Partnership with ConsenSys</strong></h3>
            <p>
                ConsenSys, one of the most prominent startups in the ethereum ecosystem, will work with the European Commission on its EU Blockchain Observatory and Forum, which officially launched Thursday.

                The two-year endeavor will fund up to €340 million ($425 million) in blockchain projects. The Commission first announced the initiative last spring, citing its desire to expand institutional knowledge of blockchain and distributed ledger technologies.

                "As an important actor in the blockchain community, ConsenSys will bring strong commitment to blockchain development, solid expertise and connections with the global blockchain ecosystem, and an entrepreneurial approach to engage with stakeholders and experts in the EU and worldwide," the EC said Thursday in a statement revealing the partnership.

                ConsenSys, a global "venture production studio" that develops software primarily for the ethereum blockchain, was founded by Joseph Lubin, whom CoinDesk profiled for its Most Influential in Blockchain 2017 series.
            </p>
            <p style="text-align:right;">Posted by <a target="_blank" href="https://www.coindesk.com/">Coindesk</a></p>
        </div>
        <div class="col-md-4 col-sm-12 thumbnail">
            <h3 style="color:#d46d15"><strong>UPS Might Be Making a Locker That Accepts Bitcoin</strong></h3>
            <p>
                Global shipping giant UPS may be looking at accepting bitcoin through an item-exchange locker service, newly published patent filings show.

                UPS is eyeing a system of locker banks that can take digital forms of payment, according to an application released by the U.S. Patent and Trademark Office (USPTO) on Thursday. In addition to traditional payment systems, the patent filing lists bitcoin as a possible currency to pay with.

                The filing outlines a system of lockers where a party trading or selling an item can leave it in the locker for a buyer to pick up at their convenience. Some of these lockers may be configured to accept payments if the parties are renting the locker.
                The patent application mentions bitcoin again later, as a way to refund customers, among more traditional payment methods like credit.

                The filing is the latest example of a patent application that lists bitcoin as a possible payment method. While this isn't indicative that companies are moving en-masse to accept the cryptocurrency, its inclusion as an option highlights its profile as a digitized medium of exchange.
            </p>
            <p style="text-align:right;">Posted by <a target="_blank" href="https://www.coindesk.com/">Coindesk</a></p>
        </div>
        <div class="col-md-4 col-sm-12 thumbnail">
            <h3 style="color:#d46d15"><strong>Samsung Confirms It's Now Making Crypto Mining Chips</strong></h3>
            <p>
                Samsung has confirmed it is now manufacturing specialized cryptocurrency mining chips after reports to that effect surfaced this week.

                South Korean news outlet The Bell first revealed the news on Jan. 30, stating that Samsung was kicking off manufacturing in January, aiming to provide application-specific integrated circuits (ASICs) to an unnamed Chinese mining firm.
                The South Korean tech giant, however, did not provide any details on its customers or the chips, TechCrunch states.

                Still, in its recent fourth quarter and fiscal year 2017 results report yesterday, Samsung talked about the growing demand for cryptocurrency mining, stating that in 2018 it will provide 8nm and 11nm processors to meet market needs, as well as start a "risk production" of 7nm chips.

                Samsung's move into the cryptocurrency mining space will undoubtedly bring serious competition to China-based Bitmain, which claims to hold over 70 percent of the market share and uses ASICS from Taiwanese manufacturer TSMC.
            </p>
            <p style="text-align:right;">Posted by <a target="_blank" href="https://www.coindesk.com/">Coindesk</a></p>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $('canvas#BTCchart').show();
    $('#BTCbtn').css('font-weight', 'bold');
    $('canvas#ETHchart').hide();
    $('canvas#XRPchart').hide();
    $('canvas#LTCchart').hide();

    $('#BTCbtn').click(function () {
        $(this).css('font-weight', 'bold');
        $('#ETHbtn').css('font-weight', 'normal');
        $('#XRPbtn').css('font-weight', 'normal');
        $('#LTCbtn').css('font-weight', 'normal');
        $('canvas#BTCchart').show();
        $('canvas#ETHchart').hide();
        $('canvas#XRPchart').hide();
        $('canvas#LTCchart').hide();
    });

    $('#ETHbtn').click(function () {
        $(this).css('font-weight', 'bold');
        $('#BTCbtn').css('font-weight', 'normal');
        $('#XRPbtn').css('font-weight', 'normal');
        $('#LTCbtn').css('font-weight', 'normal');
        $('canvas#BTCchart').hide();
        $('canvas#ETHchart').show();
        $('canvas#XRPchart').hide();
        $('canvas#LTCchart').hide();
    });

    $('#XRPbtn').click(function () {
        $(this).css('font-weight', 'bold');
        $('#ETHbtn').css('font-weight', 'normal');
        $('#BTCbtn').css('font-weight', 'normal');
        $('#LTCbtn').css('font-weight', 'normal');
        $('canvas#BTCchart').hide();
        $('canvas#ETHchart').hide();
        $('canvas#XRPchart').show();
        $('canvas#LTCchart').hide();
    });

    $('#LTCbtn').click(function () {
        $(this).css('font-weight', 'bold');
        $('#ETHbtn').css('font-weight', 'normal');
        $('#XRPbtn').css('font-weight', 'normal');
        $('#BTCbtn').css('font-weight', 'normal');
        $('canvas#BTCchart').hide();
        $('canvas#ETHchart').hide();
        $('canvas#XRPchart').hide();
        $('canvas#LTCchart').show();
    });


    function formatDate(date) {
        var monthNames = [
            "Jan", "Feb", "Mar",
            "Apr", "May", "Jun", "Jul",
            "Aug", "Sept", "Oct",
            "Nov", "Dec"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex] + ' ' + year;
    }

    //Chart area from BTC API
    var apifetch = $.ajax({
        dataType: "json",
        url: "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=130&aggregate=3&e=CCCAGG",
        success: function (json) {
            var pricedata = [];
            var closedata = [];
            var timedata = [];
            json["Data"].forEach(function (data) {

                var time = data.time;
                var epochtodate = new Date(0);
                epochtodate.setUTCSeconds(time);                
                var open = data.open;
                //var close = data.close;
                //var high = data.high;
                //var low = data.low;
                //var priceobject = {open: open, close: close, high: high, low: low };
                //var timeobject = {time: time}
                pricedata.push(open);
                timedata.push(formatDate(epochtodate));
            })

            var ctx = document.getElementById("BTCchart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timedata,
                    datasets: [{
                        label: 'BTC/USD',
                        data: pricedata,
                        borderWidth: 2,
                        backgroundColor: ['rgba(212,109,21, 0.7)'],
                        borderColor: ['rgba(212,109,21,1)'],
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "rgba(212,109,21,1)",
                            fontSize: 18

                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "rgba(212,109,21)"
                            }
                        }],
                        xAxes: [{
                            ticks: {

                                fontColor: "rgba(212,109,21)",
                                fontSize: 15

                            }
                        }],
                    }
                }
            });
        }
    });


    //Chart area from ETH API
    var apifetch = $.ajax({
        dataType: "json",
        url: "https://min-api.cryptocompare.com/data/histoday?fsym=ETH&tsym=USD&limit=130&aggregate=3&e=CCCAGG",
        success: function (json) {
            var pricedata = [];
            var closedata = [];
            var timedata = [];
            json["Data"].forEach(function (data) {

                var time = data.time;
                var epochtodate = new Date(0);
                epochtodate.setUTCSeconds(time);
                console.log(epochtodate);

                var open = data.open;
                //var close = data.close;
                //var high = data.high;
                //var low = data.low;
                //var priceobject = {open: open, close: close, high: high, low: low };
                //var timeobject = {time: time}
                pricedata.push(open);
                timedata.push(formatDate(epochtodate));
            })

            var ctx = document.getElementById("ETHchart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timedata,
                    datasets: [{
                        label: 'ETH/USD',
                        data: pricedata,
                        borderWidth: 2,
                        backgroundColor: ['rgba(212,109,21, 0.7)'],
                        borderColor: ['rgba(212,109,21,1)'],
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "rgba(212,109,21,1)",
                            fontSize: 18

                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "rgba(212,109,21)"
                            }
                        }],
                        xAxes: [{
                            ticks: {

                                fontColor: "rgba(212,109,21)",
                                fontSize: 15

                            }
                        }],
                    }
                }
            });
        }
    });


    //Chart area from XRP API
    var apifetch = $.ajax({
        dataType: "json",
        url: "https://min-api.cryptocompare.com/data/histoday?fsym=XRP&tsym=USD&limit=130&aggregate=3&e=CCCAGG",
        success: function (json) {
            var pricedata = [];
            var closedata = [];
            var timedata = [];
            json["Data"].forEach(function (data) {

                var time = data.time;
                var epochtodate = new Date(0);
                epochtodate.setUTCSeconds(time);
                console.log(epochtodate);

                var open = data.open;
                //var close = data.close;
                //var high = data.high;
                //var low = data.low;
                //var priceobject = {open: open, close: close, high: high, low: low };
                //var timeobject = {time: time}
                pricedata.push(open);
                timedata.push(formatDate(epochtodate));
            })

            var ctx = document.getElementById("XRPchart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timedata,
                    datasets: [{
                        label: 'XRP/USD',
                        data: pricedata,
                        borderWidth: 2,
                        backgroundColor: ['rgba(212,109,21, 0.7)'],
                        borderColor: ['rgba(212,109,21,1)'],
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "rgba(212,109,21,1)",
                            fontSize: 18

                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "rgba(212,109,21)"
                            }
                        }],
                        xAxes: [{
                            ticks: {

                                fontColor: "rgba(212,109,21)",
                                fontSize: 15

                            }
                        }],
                    }
                }
            });
        }
    });

    //Chart area from LTC API
    var apifetch = $.ajax({
        dataType: "json",
        url: "https://min-api.cryptocompare.com/data/histoday?fsym=LTC&tsym=USD&limit=130&aggregate=3&e=CCCAGG",
        success: function (json) {
            var pricedata = [];
            var closedata = [];
            var timedata = [];
            json["Data"].forEach(function (data) {

                var time = data.time;
                var epochtodate = new Date(0);
                epochtodate.setUTCSeconds(time);
                console.log(epochtodate);

                var open = data.open;
                //var close = data.close;
                //var high = data.high;
                //var low = data.low;
                //var priceobject = {open: open, close: close, high: high, low: low };
                //var timeobject = {time: time}
                pricedata.push(open);
                timedata.push(formatDate(epochtodate));
            })

            var ctx = document.getElementById("LTCchart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timedata,
                    datasets: [{
                        label: 'LTC/USD',
                        data: pricedata,
                        borderWidth: 2,
                        backgroundColor: ['rgba(212,109,21, 0.7)'],
                        borderColor: ['rgba(212,109,21,1)'],
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "rgba(212,109,21,1)",
                            fontSize: 18

                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "rgba(212,109,21)"
                            }
                        }],
                        xAxes: [{
                            ticks: {

                                fontColor: "rgba(212,109,21)",
                                fontSize: 15

                            }
                        }],
                    }
                }
            });
        }
    });

</script>



