@model IEnumerable<ViewImageViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well well-sm">
    <strong>Display</strong>
    <div class="btn-group">
        <a href="#" id="list" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list">
            </span>List
        </a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid
        </a>
    </div>
</div>
<div id="products" class="row list-group">
    @foreach (var prod in Model)
            {
        <div class="item  col-xs-6 col-lg-4">
            <div class="thumbnail">
                <div class="image-container" style="overflow:hidden; border-bottom:1px solid #ddd">
                    @if (prod.Image == null)
                {
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    }
                    else
                    {
                        <img class="group list-group-image" src="data:@prod.ContentType;base64,@prod.Image" style="width: 400px; height:250px;" alt="" />

                    }
                    </div>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <strong> @prod.Name</strong>
                        </h4>
                        <p class="group inner list-group-item-text">
                            @prod.Description
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <p class="lead">
                                    @prod.Price.ToString("c")
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-productId="@prod.ProductId">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    }
</div>



