
@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deposit</h2>
<label>Enter Amount To Deposit:</label>
<input id="amountId" type="text"/>
<div id="paypal-button"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div id="paypal-button-container"></div>

<script>
    var amount;
    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function () {

            // Set up a url on your server to create the payment
            amount = document.getElementById('amountId').value;
            var CREATE_URL = 'http://localhost:61971/Client/CreatePayment?amt=' + amount ;
            
            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL)
                .then(function (res) {
                    return res.id;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function (data, actions) {

            // Set up a url on your server to execute the payment
            var EXECUTE_URL = 'http://localhost:61971/Client/ExecutePayment';

            // Set up the data you need to pass to your server
            var data = {
                paymentID: data.paymentID,
                payerID: data.payerID
            };

            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    Success(amount);
                    window.alert('Payment Complete!');
                });
        }

    }, '#paypal-button-container');

    connection.on('Success', function (amount) {
        document.getElementById('balanceClientId').innerHTML = amount;
    });

    function Success(amount) {
        connection.invoke('Deposit', amount);
    };
</script>

