
@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<row>
    <div class="col-md-6">
        <h2>Deposit</h2>
        <label>Enter Amount To Deposit:</label>
        <input id="amountId" type="text" />
        <div id="paypal-button"></div>

        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

        <div id="paypal-button-container"></div>
    </div>
    <div class="col-md-6">
        <table id="deposit-calculator" class="table table-responsive">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">CALCULATE DEPOSIT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="deposit-prefix" style="width:50px">Deposit</td>
                    <td class="deposit-amount"><span id="deposit-amount"></span></td>
                </tr>
                <tr>
                    <td class="deposit-prefix" style="width:50px">Our fee</td>
                    <td class="deposit-amount"><span id="fee-amount"></span></td>
                </tr>
                <tr>
                    <td class="deposit-prefix" style="width:50px">Total</td>
                    <td class="deposit-amount"><span id="total-amount"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</row>

<script>
    $('input#amountId').on("change keyup paste", function () {
        $value = (this).value.replace(',','.');
        $fee = ($value * 0.05).toFixed(2);
        $total = ($value - ($value * 0.05)).toFixed(2);
        if ($value.match(/\d+.*\d*/) && !isNaN($fee) && !isNaN($total)) {
            $('#deposit-amount').empty();
            $('#deposit-amount').append($value + '€');
            $('#fee-amount').empty();
            $('#fee-amount').append($fee + '€');
            $('#total-amount').empty();
            $('#total-amount').append($total + '€');
        }
        else {
            $('#deposit-amount').empty();
            $('#deposit-amount').append('Only number can be inserted');
            $('#fee-amount').empty();
            $('#fee-amount').append('Only number can be inserted');
            $('#total-amount').empty();
            $('#total-amount').append('Only number can be inserted');
        }
    });
</script>

<script>
    var amount;
    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function () {

            // Set up a url on your server to create the payment
            amount = document.getElementById('amountId').value;
            var CREATE_URL = '/Client/CreatePayment?amt=' + amount ;
            
            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL)
                .then(function (res) {
                    return res.id;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function (data, actions) {

            // Set up a url on your server to execute the payment
            var EXECUTE_URL = '/Client/ExecutePayment';

            // Set up the data you need to pass to your server
            var data = {
                paymentID: data.paymentID,
                payerID: data.payerID
            };

            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    Success(amount);
                    window.alert('Payment Complete!');
                });
        }

    }, '#paypal-button-container');

    connection.on('Success', function (amount) {
        document.getElementById('balanceClientId').innerHTML = amount;
    });

    function Success(amount) {
        connection.invoke('Deposit', amount);
    };
</script>

