@model List<Deposit>

@{
    ViewData["Title"] = "DepositHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@User.Identity.Name Deposit History</h2>

<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Price</th>
            <th>Time</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepositAmount</td>
            <td>@item.DepositDate</td>
        </tr>
    }
</table>