@{
    ViewData["Title"] = "OrderBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<div class="orderbook">
    <div class="row">
        <div class="col col-md-12" style="background:#ddd; height:34px;padding-top: 5px; padding-left: 25px;">
            <span class="orderbook-butt">Orderbook</span> | <span class="tradehistory-butt">Trade History</span>
        </div>
        <div class="col col-md-3 tradehistory" style="border-right:1px solid black; overflow-y: scroll;">

            <div style="overflow:hidden;">
                <table class="table table-responsive" id="tradeTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="color:rgb(212, 109, 21)">Trade Size</th>
                            <th class="text-center" style="color:rgb(212, 109, 21)">Price(Euro)</th>
                            <th class="text-center" style="color:rgb(212, 109, 21)">Time</th>
                        </tr>
                    </thead>
                    <tbody id="tradeHistory"></tbody>
                </table>
            </div>

            
        </div>

        <div class="col col-md-3 orders" style="border-right:1px solid black;">
            <div id="askId" class="half-page" style="background:#111;color:orangered; overflow-y:hidden; display: flex;
  flex-direction: column-reverse;">
                <div class="table-container" style="max-height: 50vh; overflow:hidden;">
                    <table class="table table-responsive" id="askTable">
                        <thead style="position:absolute; top:0; left:0;">
                            <tr>
                                <th class="text-center" style="color:rgb(212, 109, 21)">Market Size</th>
                                <th class="text-center" style="color:rgb(212, 109, 21)">Price</th>
                                <th class="text-center" style="color:rgb(212, 109, 21)">My Size</th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
            <div id="middle-layer" style="background:orangered;color:white;height: 5vh; margin-top: -2.5vh; padding:3%;">Eurospread <span style="float:right">ΕΔΩ</span></div>
            <div id="bidId" class="half-page" style="background:#111; color:green; padding-left: 10px;">
                <div class="table-container" style="max-height: 50vh; overflow:hidden;">
                    <table class="table table-responsive" id="bidTable">
                        <tbody id="tbodybid"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-md-9">
            <div class="half-page" style="background:#111; border-bottom:1px solid black;">
                <div id="selectprompt">PLEASE SELECT A COIN TO VIEW CHARTS AND PRICE VARIATIONS</div>
                <canvas id="firstChart"></canvas>
            </div>
            <div class="half-page"  style="background:#111;">
                <canvas id="secondChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    $('.orderbook-butt').click(function () {
        $('.tradehistory').hide();
        $('.orders').show();
    });
    $('.tradehistory-butt').click(function () {
        $('.tradehistory').show();
        $('.orders').hide();
    });
    //Recieve data from server
    connection.on('PlaceBid', function (offerTable) {
        var parent = document.getElementById("tbodybid");
        var trElem;
        var tdElem;
        var tdSecElem;
        parent.innerHTML = "";
        for (var i = 0; i < offerTable.length; i++) {
            trElem = document.createElement("tr");
            tdElem = document.createElement("td");
            tdElem.innerHTML = offerTable[i].quantity.toFixed(4);
            tdSecElem = document.createElement("td");
            tdSecElem.innerHTML = offerTable[i].priceOffer.toFixed(2);
            trElem.appendChild(tdElem);
            trElem.appendChild(tdSecElem);
            parent.appendChild(trElem);
        }
    })
    connection.on('PlaceAsk', function (askTable) {
        var parent = document.getElementById("tbody");
        var trElem;
        var tdElem;
        var tdSecElem;
        parent.innerHTML = "";
        for (var i = 0; i < askTable.length; i++) {
            trElem = document.createElement("tr");
            tdElem = document.createElement("td");
            tdElem.innerHTML = askTable[i].quantity.toFixed(4);
            tdSecElem = document.createElement("td");
            tdSecElem.innerHTML = askTable[i].priceAsk.toFixed(2);
            tdThirdElem = document.createElement("td");
            if (askTable[i].userAskId === '@UserManager.GetUserId(User)') {
                tdThirdElem.innerHTML = askTable[i].quantity.toFixed(2);
            }
            trElem.appendChild(tdElem);
            trElem.appendChild(tdSecElem);
            trElem.appendChild(tdThirdElem);
            parent.appendChild(trElem);
            $("#tbody").scrollTop($("#tbody")[0].scrollHeight);
        }
    })


    connection.on('DisplayHistory', function (tradeHistoryTable) {
        var parent = document.getElementById("tradeHistory");
        var trElem;
        var tdElem;
        var tdSecElem;
        var tdThrElem;
        parent.innerHTML = "";
        for (var i = 0; i < tradeHistoryTable.length; i++) {
            trElem = document.createElement("tr");
            tdElem = document.createElement("td");
            tdElem.innerHTML = tradeHistoryTable[i].quantity;
            tdSecElem = document.createElement("td");
            tdSecElem.innerHTML = tradeHistoryTable[i].price;
            tdThrElem = document.createElement("td");
            tdTrdElem.innerHTML = tradeHistoryTable[i].dateOfTransaction;
            trElem.appendChild(tdElem);
            trElem.appendChild(tdSecElem);
            trElem.appendChild(tdThrElem);
            parent.appendChild(trElem);
        }
    })

</script>