<!-- model Product-->

@{
    ViewData["Title"] = "ViewProduct";
}

<body>
    <!--IMAGE-->
    <!--DETAILS-->
    <!--DESCPRIPTION-->

    <form> <!--action to cart-->>
        <div class="form-group">
            <!--
            <label asp-for="Quantity"></label>
            <div><span asp-validation-for="Quantity" class="text-danger"></span></div>
            <input asp-for="Category" class="form-control" />
                -->
        </div>
        
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Add To Cart</button>
        </div>


</form>
</body>

